
* {
    margin: 0;
    padding: 0;
}


.navbar{
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

/* .container {
    width: 100%;
    height: 500px;
    text-align: center;
    background-color: #fbd35f;
} */

.header {
    background-color: #fbd35f;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-photo {
    padding: 30px;
}